/Makefile.am
/alloca.c
/alloca.in.h
/at-func.c
/basename-lgpl.c
/btowc.c
/chdir-long.c
/chdir-long.h
/cloexec.c
/cloexec.h
/close.c
/closedir.c
/dirent-private.h
/dirent.in.h
/dirfd.c
/dirname-lgpl.c
/dirname.h
/dosname.h
/dup-safer.c
/dup.c
/dup2.c
/errno.in.h
/error.c
/error.h
/exitfail.c
/exitfail.h
/fchdir.c
/fcntl.c
/fcntl.in.h
/fd-hook.c
/fd-hook.h
/fd-safer.c
/fdopendir.c
/filename.h
/filenamecat-lgpl.c
/filenamecat.h
/fnmatch.c
/fnmatch.in.h
/fnmatch_loop.c
/fstat.c
/fstatat.c
/ftruncate.c
/getcwd-lgpl.c
/getcwd.c
/getdtablesize.c
/getopt.c
/getopt.in.h
/getopt1.c
/getopt_int.h
/gettext.h
/intprops.h
/localcharset.c
/localcharset.h
/lstat.c
/malloc.c
/mbrtowc.c
/mbsinit.c
/mbsrtowcs-impl.h
/mbsrtowcs-state.c
/mbsrtowcs.c
/mbswidth.c
/mbswidth.h
/mbtowc-impl.h
/mbtowc.c
/memchr.c
/memchr.valgrind
/mempcpy.c
/memrchr.c
/mkdir.c
/msvc-inval.c
/msvc-inval.h
/msvc-nothrow.c
/msvc-nothrow.h
/open.c
/openat-die.c
/openat-priv.h
/openat-proc.c
/openat.c
/openat.h
/opendir.c
/pathmax.h
/pipe-safer.c
/poll.c
/poll.in.h
/readdir.c
/realloc.c
/rewinddir.c
/save-cwd.c
/save-cwd.h
/select.c
/signal.in.h
/sockets.c
/sockets.h
/stat.c
/stdalign.in.h
/stdbool.in.h
/stddef.in.h
/stdint.in.h
/stdio.h
/stdlib.in.h
/strdup.c
/streq.h
/strerror-override.c
/strerror-override.h
/strerror.c
/string.in.h
/stripslash.c
/strnlen1.c
/strnlen1.h
/sys_select.in.h
/sys_socket.c
/sys_socket.in.h
/sys_stat.in.h
/sys_time.in.h
/sys_times.in.h
/sys_types.in.h
/sys_uio.in.h
/time.in.h
/times.c
/unistd--.h
/unistd-safer.h
/unistd.c
/unistd.in.h
/unitypes.in.h
/uniwidth.in.h
/verify.h
/w32sock.h
/wchar.in.h
/wctype-h.c
/wctype.in.h
/wcwidth.c
/alloca.h
/arg-nonnull.h
/c++defs.h
/charset.alias
/config.h
/config.h.in
/configmake.h
/dirent.h
/fcntl.h
/poll.h
/ref-add.sed
/ref-del.sed
/signal.h
/stamp-h1
/stdlib.h
/string.h
/sys/
/time.h
/unistd.h
/unitypes.h
/uniwidth.h
/uniwidth/
/warn-on-use.h
/wchar.h
/wctype.h
/stdio.in.h
/assure.h
/hard-locale.c
/hard-locale.h
/getprogname.c
/getprogname.h
/_Noreturn.h
/flexmember.h
/getopt-cdefs.in.h
/getopt-core.h
/getopt-ext.h
/getopt-pfx-core.h
/getopt-pfx-ext.h
/limits.in.h
/malloca.c
/malloca.h
/stat-w32.c
/stat-w32.h
/xalloc-oversized.h
/stdint.h
/limits.h
/dup-safer-flag.c
/fd-safer-flag.c
/stat-time.c
/stat-time.h
/locale.in.h
/setlocale-lock.c
/setlocale_null.c
/windows-initguard.h
/windows-mutex.c
/windows-mutex.h
/windows-once.c
/windows-once.h
/windows-recmutex.c
/windows-recmutex.h
/windows-rwlock.c
/windows-rwlock.h
/attribute.h
/basename-lgpl.h
/cdefs.h
/ctype.in.h
/idx.h
/inttypes.in.h
/isblank.c
/lc-charset-dispatch.c
/lc-charset-dispatch.h
/libc-config.h
/mbrtowc-impl-utf8.h
/mbrtowc-impl.h
/mbtowc-lock.c
/mbtowc-lock.h
/pipe.c
/setlocale_null.h
/strnlen.c
/wmemchr-impl.h
/wmemchr.c
/wmempcpy.c
